*{
    margin: 3px;
    padding: 3px;
    background-color: #fcfbfc;
}

body{
    text-align: center;
    font-family:sans-serif; 
}

.header{
    background-color: #fcfbfc;
}

.ul-nav{
    display: flex;
    margin-right: 150px;
    list-style: none;
    float:right;
}

.ul-nav a {
    padding: 20px 20px;
    color:#593433;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-decoration: none;
}
    
.img-nav{
    display: flex;
   width: 150px;
}

h1{
    color:#ffa2a2;
    font-size: 45px;
    margin-bottom: 25px;
}    

h2{
    color: #593433;
    font-size: 25px;
    font-style: italic;
    margin-bottom: 25px;
}

h3{
    color:#593433;
    margin-bottom: 20px;
    font-size: 20px;
}

.contenido-general{
    display: flex;
}

.cont-img-plato {
    display: flex;
    justify-content: right;
}

.foto{
    justify-content: right;
}
   
.boton-ms{
    display: inline;
    background-color:#f14948;
    color:#fcfbfc;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 30px;
    padding: 10px 40px;
    font-size: 20px;
}

h4{
    color:#593433;
    align-items:center;
    right: 70px;;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    background-color: #ffebec;
}

.plato{
    background-color: #ffebec;
}

h5{
    color: #593433;
    align-items: center;
    font-size: 25px;
    background-color: #ffebec;
}

h6{
    color: #f14948;
    font-size: 20px;
    text-align: right;
    background-color: #ffebec;
}

.comida{
    background-color: #ffebec;
}

p{
    color: #593433;
    font-size: 18px;
    background-color: #ffebec;
    margin: 40px;
}

.referencia{
    background-color: #ffebec;
}

.cont-plato{
    display: flex;
    background-color:#ffebec;
    clip-path: ellipse(50% 55%);
}

.cont-central{
    background-color: #ffebec;
}

.cont-imagen{
    background-color: #ffebec;
}

.boton{
    background-color: #ffebec;
}

.foto1{
    width: 300px;
    height:300px;
    justify-content: left;
    background-color: #f14948;
    clip-path: ellipse(45% 25%);
}




 
   