:root {
  --rojo: #f14948;
  --rojo_tenue: #ffa2a2;
  --rosa_bebe: #a58f90;
  --gris: #f4f0ef;
  --beige: #fcfbfc;
  --marron_letras: #593433;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--gris);
}

header {
  width: 100%;
}

.nav-principal {
  margin: 5px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}

.li-principal {
  margin: 0 30px;
  color: #ffebec;
}
.a-nav:hover {
  color: #f14948;
}

.ul-nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  height: 20px;
  align-items: center;
  width: 100%;
}

.a-nav {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 700;
  color: #b1a9a9;
}

.img-nav {
  width: 100px;
  border-radius: 50px;
  margin: 10px;
}

.div-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.titulo-principal {
  color: var(--marron_letras);
  text-align: center;
  font-weight: bold;
}

.nav {
  margin: 3vw 10vw;
  color: var(--rosa_bebe);
  font-weight: bold;
  .nav-lista {
    display: flex;
    justify-content: center;
    list-style: none;

    li {
      font-size: large;
      margin-right: 3vw;
      padding: 0.1vw 0.8vw;
    }
    li:hover {
      background-color: #f14948;
      color: white;
      border-radius: 15px;
      cursor: pointer;
    }

    li:last-child {
      margin-right: 0;
    }
  }
}
.activado {
  background-color: #f14948;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.contenedor {
  margin: 5vw 15vw;
}

.lista-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  .card {
    color: var(--marron_letras);
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 4px rgba(71, 45, 15, 0.103);
    text-align: center;
    max-width: 16vw;
    img {
      object-fit: cover;
      width: 8vw;
      height: 8vw;
      border-radius: 50%;
    }
    .card-text {
      margin-bottom: 1vw;
      h5 {
        font-size: large;
        margin-bottom: 1vw;
      }
      p {
        margin: 0 2vw;
        font-size: small;
      }
    }
    .card-price {
      background-color: var(--rojo);
      color: white;
      font-weight: bold;
      padding: 0.3vw 1vw;
      border-radius: 15px;
      border: none;
    }
  }
}

footer {
  width: 100%;
}

.box {
  
  width: 150px;
  height: 100px;
  text-align: center;
  border-color:#593433;
  border-width: 2px;
  border-style: none;
  margin: 5px;
  border-radius: 4px;
  font-style:italic ;
  color: var(--colorTextos);
  font-size: 15px;
}

.footer_box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: linear-gradient(to right, #E29587, #D66D75);
}

.footer_h {
  margin: 5px;
}
